# Set the default behavior to text
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cjs text
*.js text
*.jsx text
*.json text
*.md text
*.css text
*.html text
*.config.js text

# Set binary files to be treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary

# Handle additional assets that are usually binary
public/assets/images/*.svg binary
public/assets/images/*.png binary
public/assets/images/*.jpg binary
public/assets/images/*.jpeg binary

# Force CRLF (Windows) line endings
*.cjs text eol=crlf
*.js text eol=crlf
*.jsx text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.css text eol=crlf
*.html text eol=crlf
*.config.js text eol=crlf
